<div #myNote class="note" [style.left.px]="note.x" [style.top.px]="note.y" [style.background-color]="color" [style.z-index]="note.z">
    <div #noteHeader class="note-header"></div>
    <div class="note-content">
        <table>
            <tr>
                <td>
                    <input type="text" (dblclick)="turnOnEditMode()" [readonly]="isReadonly" [(ngModel)]="title" (keydown)="onKeydown($event)">
                </td>
                <td>
                    <input #noteColor class="note-color" type="color" [(ngModel)]="color">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <textarea #noteContent [readonly]="isReadonly" (dblclick)="turnOnEditMode()" cdkTextareaAutosize (keydown)="onKeydown($event)" [(ngModel)]="content" appAutoSize></textarea>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>