p {
    font-family: Lato;
}
.note-content {
    width: 100%;
    border: 1px groove grey;
    border-width: thin;
}
.note-header {
    width: 100%;
    height: 1rem;
    border: 1px groove grey;
    border-bottom: 0px;
    border-width: thin;
}
.note {
    width: 150px;
    position: absolute;
}
input, textarea {
    width: 100%;
    background-color: transparent;
}