<div #myNote class="note" [style.background-color]="color" [ngClass]="{'read': isReadonly}">
    <div #noteHeader class="note-header"></div>
    <div class="note-content">
        <table>
            <tr>
                <td>
                    <input #noteTitle type="text" (dblclick)="turnOnEditMode()" [readonly]="isReadonly" [(ngModel)]="title" (keyup)="onKeyup($event)">
                </td>
                <td>
                    <input #noteColor class="note-color" type="color" [(ngModel)]="color" (ngModelChange)="colorChange($event)">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <textarea #noteContent [readonly]="isReadonly" (dblclick)="turnOnEditMode()" (keyup)="onKeyup($event)" [(ngModel)]="content" appAutoSize></textarea>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>