p {
    font-family: Lato;
}

.note-content {
    width: 163px;
    border: 1px groove grey;
    border-width: thin;
}

.note-header {
    width: 163px;
    height: 1rem;
    border: 1px groove grey;
    border-bottom: 0px;
    border-width: thin;
}

.note {
    width: 163px;
    position: absolute;
}

input {
    width: 120px;
    background-color: transparent;
}

textarea {
    width: 150px;
    background-color: transparent;
    resize: none;
}

.note-color {
    width: 20px;
}

.read input,
.read textarea {
    border: 0;
}